<%= form_for [@user,@post] do |form| %>
  <%= form.label :message %>
  <%= form.text_area :message %>
  <%= form.hidden_field :wall_id, :value => 0 %>
  <%= form.submit "Submit" %>
<% end %>

<p  hidden id="current_user_id"><%= current_user.id %></p>

<% @posts.each do |post| %>
  <div id="post_<%=post.id%>" data-name="custom-text">
    <p  hidden id="post_user_<%=post.id%>"><%= post.user.id %></p>
    <p><%= post.user.username %></p>
    <p id="<%=post.id%>_created_at"><%= post.created_at %></p>
    <div id="post_text_<%=post.id%>"><%= simple_format(post.message) %></div>
      <button type="button" id="post_edit_<%=post.id%>" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Edit</button>
  </div>
<% end %>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content -->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit your post</h4>
      </div>
      <div class="md-form mb-5">
        <form id="editForm" action="" method="get">
          <div class="form-group">
            <textarea class="form-control" rows="3" id="edit_message" name="post[message]"></textarea>
          </div>
          <input id="SaveUpdate" type="Submit" value="Update">
        </form>
      </div>
    </div>

  </div>
