<!DOCTYPE html>
<html>
  <head>
    <title>Acebook</title>
    <link href="https://fonts.googleapis.com/css?family=Tenor+Sans&display=swap" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>
  <body>
    <header>
      <div class="topnav">
        <p class="nav_item <%= "active" if current_page?(posts_path)%>">
          <%= link_to "Home", posts_path %>
        </p>
        <% if user_signed_in? %>
          <p class="nav_item <%= "active" if current_page?(edit_user_registration_path)%>">
            <%= link_to "Edit profile", edit_user_registration_path %></p>
          <p class="nav_item <%= "active" if current_page?(users_path)%>">
            <%= link_to "All users", users_path %>
          </p>
          <p id="current_user" class="nav_item">
            <!-- Logged in as <st><%= current_user.username %></strong> -->
              <a href="/users/<%= current_user.id %>">Logged in as <%= current_user.username %></a>

          </p>
          <p class="nav_item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </p>
        <% else %>
          <p class="nav_item <%= "active" if current_page?(new_user_registration_path)%>">
            <%= link_to "Sign up", new_user_registration_path%>
          </p>
          <p class="nav_item <%= "active" if current_page?(new_user_session_path)%>">
            <%= link_to "Login", new_user_session_path  %>
          </p>
        <% end %>
      </div>

    </header>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <div id="modal-holder"></div>
    <!-- Flash message -->
    <div id="flash">
      <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
      <% end %>
    </div>

    <%= yield %>

  </body>
